# Test Dataframe Operations

In [62]:
import pandas as pd

In [10]:
df = pd.DataFrame(columns=list("ABC"))
df.loc[len(df)] = [1,2,3]
df.loc[len(df)] = [1,2,3]

In [11]:
df

   A  B  C
0  1  2  3
1  1  2  3

In [12]:
len(df)

2

In [36]:
df2 = pd.DataFrame(columns=['alpha', 'beta'])
df2

Empty DataFrame
Columns: [alpha, beta]
Index: []

In [37]:
df2.loc[len(df2)] = [1,2]
df2

  alpha beta
0     1    2

In [38]:
df2.loc[len(df2)] = [1]
df2

ValueError: cannot set a row with mismatched columns

In [1]:
df2.loc[len(df2)] = [3,4]
df2

NameError: name 'df2' is not defined

In [13]:
df = pd.DataFrame()
type(df)

pandas.core.frame.DataFrame

In [18]:
pd.to_datetime(pd.Series(['05/23/2005']))

0   2005-05-23
dtype: datetime64[ns]

In [19]:
pd.to_datetime(pd.Series(['05/23/2005'])) < '2010-01-02'

0    True
dtype: bool

In [61]:
example = pd.to_datetime(pd.Series(['08/08/2018 06:00:00']))
type(example)

pandas.core.series.Series

In [63]:
example == pd.to_datetime('2018-08-08')

pandas.core.series.Series

In [57]:
timestamp = pd.Timestamp('08/08/2018')
type(timestamp)

pandas._libs.tslibs.timestamps.Timestamp

In [68]:
example = pd.to_datetime('2018-04-07T16:22:35')
blog_date = pd.to_datetime('2018-04-07')
type(example)

pandas._libs.tslibs.timestamps.Timestamp

In [71]:
example.date()

datetime.date(2018, 4, 7)

In [73]:
example.date() == blog_date.date()

True

In [21]:
df = pd.DataFrame(columns=list("ABC"))
df.loc[len(df)] = ['2018-04-07T16:22:35','2018-04-07T17:22:35','2018-04-07T18:22:35']
df.loc[len(df)] = ['2018-04-07T16:22:35','2018-04-07T17:22:35','2018-04-07T18:22:35']
df.loc[len(df)] = ['2018-04-07T16:22:35','2018-04-07T17:22:35','2018-04-07T18:22:35']
df.loc[len(df)] = ['2018-04-08T16:22:35','2018-04-07T17:22:35','2018-04-07T18:22:35']
df.loc[len(df)] = ['2018-04-09T16:22:35','2018-04-07T17:22:35','2018-04-07T18:22:35']
df.loc[len(df)] = ['2018-04-07T14:22:35','2018-04-07T17:22:35','2018-04-07T18:22:35']

In [124]:
df

                     A                    B                    C
0  2018-04-07T16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35
1  2018-04-07T16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35
2  2018-04-07T16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35
3  2018-04-08T16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35
4  2018-04-09T16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35
5  2018-04-07T14:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35

In [113]:
df['A'] = pd.to_datetime(df['A'])
df

                    A                    B                    C
0 2018-04-07 16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35
1 2018-04-07 16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35
2 2018-04-07 16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35
3 2018-04-08 16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35
4 2018-04-09 16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35

In [115]:
df['post_date'] = [d.date() for d in df['A']]
df

                    A                    B                    C   post_date
0 2018-04-07 16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35  2018-04-07
1 2018-04-07 16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35  2018-04-07
2 2018-04-07 16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35  2018-04-07
3 2018-04-08 16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35  2018-04-08
4 2018-04-09 16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35  2018-04-09

In [116]:
blog_date = pd.to_datetime('2018-04-07').date()

In [117]:
df[(df['post_date'] == blog_date)]

                    A                    B                    C   post_date
0 2018-04-07 16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35  2018-04-07
1 2018-04-07 16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35  2018-04-07
2 2018-04-07 16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35  2018-04-07

In [120]:
blog_date = '2018-08-08'
blog_date = pd.to_datetime(blog_date).date()
blog_date

datetime.date(2018, 8, 8)

In [137]:
df.sort_values(by=['A'])
df['k'] = 1
df

                     A                    B                    C        D  k
0  2018-04-07T16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35  regular  1
1  2018-04-07T16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35  regular  1
2  2018-04-07T16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35  regular  1
3  2018-04-08T16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35  regular  1
4  2018-04-09T16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35  regular  1
5  2018-04-07T14:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35  regular  1

In [166]:
df['D'] = 'regular' 
df

                     A                    B                    C        D  k
0  2018-04-07T16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35  regular  1
1  2018-04-07T16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35  regular  1
2  2018-04-07T16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35  regular  1
3  2018-04-08T16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35  regular  1
4  2018-04-09T16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35  regular  1
5  2018-04-07T14:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35  regular  1

In [178]:
for index, row in df.iterrows():
    print(row['C'])
    print(index)

2018-04-07T18:22:35
0
2018-04-07T18:22:35
1
2018-04-07T18:22:35
2
2018-04-07T18:22:35
3
2018-04-07T18:22:35
4
2018-04-07T18:22:35
5

In [148]:
for index, row in df[df['k']==1].iterrows():
    print(row['A'])

2018-04-07T16:22:35
2018-04-07T16:22:35
2018-04-07T16:22:35
2018-04-08T16:22:35
2018-04-09T16:22:35
2018-04-07T14:22:35

In [177]:
seriesObj = df.apply(lambda x: 
                     True 
                         if ((x['k'] == 1 ) and (x['D'] == 'regular')) 
                     else False , axis=1) 
numOfRows = len(seriesObj[seriesObj == True].index)
numOfRows

6

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [179]:
df

                     A                    B                    C        D  k
0  2018-04-07T16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35  regular  1
1  2018-04-07T16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35  regular  1
2  2018-04-07T16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35  regular  1
3  2018-04-08T16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35  regular  1
4  2018-04-09T16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35  regular  1
5  2018-04-07T14:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35  regular  1

In [187]:
for index, row in df.iterrows():
    print(type(row))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

1

In [183]:
mapper[1]

KeyError: 1

In [1]:
entry = '<figure class="large" markdown="1">'
entry

'<figure class="large" markdown="1">'

In [3]:
str1 = 'hello'
str1 += ' world\n'
str1 += 'next line'
print(str1)

hello world
next line

In [4]:
import random

In [15]:
for x in range(20):
    print(random.randint(0,12))

5
2
2
1
4
4
2
6
0
1
0
5
12
12
6
5
6
5
10
6

In [17]:
aidx = []
len(aidx)

0

In [22]:
df

                     A                    B                    C
0  2018-04-07T16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35
1  2018-04-07T16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35
2  2018-04-07T16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35
3  2018-04-08T16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35
4  2018-04-09T16:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35
5  2018-04-07T14:22:35  2018-04-07T17:22:35  2018-04-07T18:22:35

In [25]:
df.loc[1, 'A']

'2018-04-07T16:22:35'

In [91]:
from datetime import datetime

ref_date = '2019-08-22'
ref_date_str = pd.to_datetime(ref_date).date().strftime('%Y-%m-%d')

blog_date = '2019-08-16'
blog_date_str = pd.to_datetime(ref_date).date().strftime('%Y-%m-%d')

date_format = '%Y-%m-%d'
ref_date = datetime.strptime(blog_date_str, date_format)
blog_date = datetime.strptime(blog_date_str, date_format)
delta = blog_date - ref_date
delta.days

In [83]:
type(ref_date)

str

0

In [85]:
delta.days

0

In [69]:
tourday = (blog_date - ref_date).days
tourday

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [50]:
tourday = (ref_date -blog_date).days
tourday

0

In [55]:
(ref_date -blog_date)

datetime.timedelta(0)

In [93]:
from datetime import datetime
date_format = "%m/%d/%Y"
a = datetime.strptime('8/18/2008', date_format)
b = datetime.strptime('9/26/2008', date_format)
delta = b - a
delta.days

39

In [97]:
from datetime import datetime

ref_date = '2019-08-22'
ref_date_str = pd.to_datetime(ref_date).date().strftime('%Y-%m-%d')

blog_date = '2019-08-16'
blog_date_str = pd.to_datetime(ref_date).date().strftime('%Y-%m-%d')

date_format = '%Y-%m-%d'
ref_date = datetime.strptime(ref_date, date_format)
blog_date = datetime.strptime(blog_date, date_format)
delta =  blog_date - ref_date
delta.days

-6

In [110]:
ref_date = '2019-08-22'
ref_date = pd.to_datetime(ref_date).date()

blog_date = '2019-08-16'
blog_date = pd.to_datetime(blog_date).date()
delta =  blog_date - ref_date
delta.days

-6

In [112]:
title = 'Start ' + str(delta.days)
title

TypeError: 'str' object is not callable

In [115]:
str(10)

TypeError: 'str' object is not callable