# Test Dataframe Operations

In [2]:
import pandas as pd

In [16]:
df = pd.DataFrame(columns=list("ABC"))
df.loc[len(df)] = [1,2,3]

In [17]:
df

   A  B  C
0  1  2  3

In [36]:
df2 = pd.DataFrame(columns=['alpha', 'beta'])
df2

Empty DataFrame
Columns: [alpha, beta]
Index: []

In [37]:
df2.loc[len(df2)] = [1,2]
df2

  alpha beta
0     1    2

In [38]:
df2.loc[len(df2)] = [1]
df2

ValueError: cannot set a row with mismatched columns

In [39]:
df2.loc[len(df2)] = [3,4]
df2

  alpha beta
0     1    2
1     3    4